body{
    font-family: Segoe UI Semibold;
    font-size: 20px;
    background: #eee;
    line-height: 35px;
  }
  textarea{
    height: 200px;
    font-family: Segoe UI;
    font-size: 20px;
  }
  a{
    text-decoration: none;
  }
  .notice{
    overflow: scroll;
    position: absolute;
    padding: 5px;
    top: 0%;
    right: 0;
    height: 100%;
    width: 35%;
    display: none;
    border: 5px solid #07d;
    background: #fff;
    word-break:break-all
  }
    .notice-mp{
    overflow: scroll;
    position: absolute;
    padding: 5px;
    top: 0%;
    left: 0;
    height: 100%;
    width: 98%;
    display: none;
    border: 5px solid #07d;
    font-size: 15px;
    line-height: 20px;
    background: #fff;
    word-break:break-all
  }
    button{
    color: #fff;
    border: 2px solid #07d;
    border-radius: 5px;
    background: #07d;
  }
  button:hover {
    background: #15b;
}
