body{
    font-family: Segoe UI Semibold;
    font-size: 20px;
    background: #eee;
  }
  textarea{
    width: 50%;
    height: 200px;
    font-family: Segoe UI;
    font-size: 20px;
  }
  .notice{
    position: absolute;
    top: 13%;
    height: auto;
    width: 70%;
    display: none;
    border: 5px solid #07d;
    background: #fff;
  }
    button{
    color: #fff;
    border: 2px solid #07d;
    border-radius: 5px;
    background: #07d;
  }
  button:hover {
    border: 2px solid #fff;
}
